{% extends 'base.html.twig'%}

{% block body %}

    <div style="display: flex;flex-flow: column;height: 100%;">
        <header style="background: linear-gradient(-89deg, #AED741, #8fd16f, #53abab, #65CFCB);padding-bottom: 13px;flex: 0 1 auto;">
            <div class="container-fluid" style="background: #ffffff;padding-top: 10px;padding-bottom: 10px;">
                <div class="row">
                    <div class="col-md-1 col-lg-3 col-xl-3 col-xxl-3 d-flex d-sm-flex d-md-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center">
                        <a href="{{ path('logout') }}"><img src="{{ asset('build/images/logo_F-E.png') }}" style="width: 50px;margin-top: 10px;margin-bottom: 10px;"></a>
                    </div>
                    <div class="col-md-7 col-lg-6 col-xxl-6 d-flex d-sm-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xxl-center">
                        <img src="{{ asset('build/images/text_F-E.png') }}" style="max-width: 400px;width: 100%;">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 d-flex justify-content-between align-items-center align-items-xxl-center">
                        <a href="https://bit.ly/3ba5kz5"><img src="{{ asset('build/images/Logo_Horizon_EU.png') }}" style="margin-top: 10px;max-width: 70px;"></a>
                        <a href="https://bit.ly/3n7brqs"><img src="{{ asset('build/images/Logo_Funded_EU.png') }}" style="max-height: 52px;max-width: 120px;min-width: 150px;margin-top: 10px;"></a>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid d-flex d-sm-flex d-md-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center" style="background: url({{ asset('build/images/F-E_BG.png') }}) no-repeat;background-size: cover;flex: 1 1 auto;padding: 1em;">

            {% block div %}

            {% endblock %}

        </div>
    </div>

{% endblock %}