
{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
{# FORMULAIRE CONTACT #}
<div id="contact">
<button type="button" class='btn'>Show project form</button>
{{ form_start(formContact) }}
<fieldset>
<h2>CONTACT</h2>
<fieldset>
<legend>Contact General information</legend>
{{ form_row(formContact.lastName) }}
{{ form_row(formContact.firstName) }}
{{ form_row(formContact.mail) }}
</fieldset>
{{ form_row(formContact.affiliation) }}
{{ form_row(formContact.laboratoryOrDepartment) }}
{{ form_row(formContact.identifier) }}
</fieldset>

{{ form_row(formContact.submit) }}
{{ form_end(formContact) }}
</div>

<div id="project">
<button type="button" class='btn'>Show contact form</button>

{# FORMULAIRE PROJECT #}

{{ form_start(formProject) }}
<fieldset>
    <h2>PROJECT</h2>

{# GENERAL INFOS #}
<fieldset>
<legend><h3>General Infos : </h3></legend>
{{ form_row(formProject.idContact) }}
{{ form_row(formProject.title) }}
{{ form_row(formProject.abstract) }}
{{ form_row(formProject.acronym) }}
{{ form_row(formProject.startDate) }}
{{ form_row(formProject.duration) }}
{{ form_row(formProject.website) }}
{{ form_row(formProject.objectives) }}
</fieldset>

{# FUNDING #}
<fieldset>
<legend><h3>Funding Infos : </h3></legend>
    {{ form_row(formProject.funding.vars.prototype) }}
</fieldset>

{# ROMP #}
<fieldset>
<legend><h3>ROMP : </h3></legend>
{{form_row(formProject.romp.vars.prototype)}}
</fieldset>


{# WORK PACKAGES #}
<h3>Work Packages</h3>
    <ul class="idRefProject"
    {# Ajouter des wps : #}
     
        data-index="{{ formProject.idRefProject|length > 0 ? formProject.idRefProject|last.vars.idRefProject + 1 : 0 }}"
        data-prototype="{{ form_widget(formProject.idRefProject.vars.prototype)|e('html_attr') }}"    
    >
        {% for wp in formProject.idRefProject %}
            <li>
                <fieldset>
                    <legend>Work package n°{{formProject.idRefProject|length}}</legend>
                {{ form_row(wp.idRefProject.vars.prototype) }}
                </fieldset>
            </li>
        {% endfor %}
    </ul>
    
{# Bouton ajout WP #}
<button type="button" class="add_item_link" data-collection-holder-class="idRefProject">
Add a Work Package
</button>

</fieldset>
{{ form_end(formProject) }}
</div>

{# ---------------------------------------------  STYLE ET SCRIPT  --------------------------------- #}


{# Style pour cacher form contact #}
<style>
.cache {
    display: none;
}
li {
    padding: 10px;
    margin: 15px;
    border: solid black 2px;
}
</style>



<script>
//Formulaire de contact
var formContact = document.getElementById('contact');
//Formulaire de projet
var formProject = document.getElementById('project');
// Les cacher ou non
const showContactForm = (e) => {
    formContact.classList.toggle('cache');
    formProject.classList.toggle('cache');
}

var test = formProject.childNode;
console.log(test);
formContact.classList.add('cache');
document.querySelectorAll('contact').forEach(button => {
    button.addEventListener('click', showContactForm)
});

document.querySelectorAll('.btn').forEach(btn => {
        btn.addEventListener('click', showContactForm)
    });



//Ajouter Work Packages
const addFormToCollection = (e) => {
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        
    const item = document.createElement('li');
        
    item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(/__name__/g,
    collectionHolder.dataset.index
    );
        
    collectionHolder.appendChild(item);

    collectionHolder.dataset.index++;

}
    //onClick
    document.querySelectorAll('.add_item_link').forEach(btn => {
        btn.addEventListener('click', addFormToCollection)
    });
</script>
{% endblock %}


