{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
{{ form_start(formProject) }}
<fieldset>
    <h2>PROJECT</h2>
    <fieldset>
    <legend>Funding Infos : </legend>
        {{ form_row(formProject.funding.vars.prototype) }}
    </fieldset>
{{ form_row(formProject.idContact) }}
{{ form_row(formProject.title) }}
{{ form_row(formProject.abstract) }}
{{ form_row(formProject.acronym) }}
{{ form_row(formProject.startDate) }}
{{ form_row(formProject.duration) }}
{{ form_row(formProject.website) }}
{{ form_row(formProject.objectives) }}
{{ form_row(formProject.submit) }}
</fieldset>
{% endblock %}